body {
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
}

h1 {
    font-weight: 700;
    font-size: 50px;
    color: rgba(87, 87, 87, 1);
}



section {
    display: flex;
    margin-bottom: 5%;

}

.font-color {
    color: rgba(251, 162, 79, 1);
}

.top-banner {
    width: 50%;
    padding-left: 8%;

}

.top-banner p {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    text-align: left;
    color: rgba(130, 130, 130, 1);
    margin-bottom: 10%;

}

.top-banner img {
    width: 80%;
    padding-left: 4px;
    margin-top: 2%;
}

#top-div {
    margin-top: 9%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    font-weight: 700;
    color: white;
    padding: 15px 40px;
    border-radius: 100px;
}

#add-background-image {

    background-image: url(images/bg.png);
    background-repeat: no-repeat;
    background-size: 100% 90%;


}

#secound-pic {

    width: 640px;
    height: 545px;
    margin-top: 5%;
    margin-left: 5%;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    color: rgba(112, 112, 112, 1);
    margin-left: 0%;
    margin-top: 24%;

}

#about-me {

    width: 50%;
    text-align: justify;
    margin-right: 23%;
    margin-left: 10%;

}

#about-me p {
    margin-bottom: 7%;
}